.login-page {
  width: 1090px;
  margin: 0 auto;
}

.login-page img {
  margin-top: 25px;
}

.sing {
  position: relative;
  width: 1090px;
  margin: 20px auto;
}

.sing .sing-left {
  position: absolute;
  top: 30px;
}

.sing .sing-right {
  float: right;
  width: 350px;
  padding: 35px;
  margin-right: 68px;
  box-shadow: 0 0 5px #e1e1e1, 0 0 15px #e1e1e1;
}

.sing .sing-right .sing-title {
  color: #5a5d6c;
  font-weight: normal;
  font-size: 21px;
}

.sing .sing-right .sing-title span a {
  font-size: 12px;
  color: #ec3e7d;
}

.sing .sing-right .sing-box {
  margin-top: 40px;
}
.sing .sing-right .sing-box form  .tip.pasg{
  margin-left: 10px;
  margin-top: 3px;
  color: green;
}
.sing .sing-right .sing-box form  .tip.pasr{
  margin-left: 10px;
  margin-top: 3px;
  color: red;
}
.sing .sing-right .sing-box form  .tipp{
  margin-left: 10px;
  font-size: 12px;
  line-height: 22px;
  color: red;
}
.sing .sing-right .sing-box form  .tippp{
  margin-left: 10px;
  font-size: 12px;
  line-height: 23px;
  color: red;
}
.sing .sing-right .sing-box form  .yan{
  margin-left: 10px;
  font-size: 12px;
  line-height: 23px;
  color: red;
}
.sing .sing-right .sing-box form input {
  border-width: 1px;
  border-color: #cccccc;
  padding: 1px;
}

.sing .sing-right .sing-box form input:hover, .sing .sing-right .sing-box form .foucs {
  border-color: #f9a0b4;
  box-shadow: 0 0 5px #fbb4b0;
}

.sing .sing-right .sing-box form input[type=text], .sing .sing-right .sing-box form input[type=password] {
  border-style: solid;
}

.sing .sing-right .sing-box form .form-item {
  margin-top: 10px;
  position: relative;
  height: 51px;
  font-size: 13px;
}

.sing .sing-right .sing-box form .form-label {
  display: none;
}

.sing .sing-right .sing-box form .form-act {
  display: block;
  line-height: 20px;
}

.sing .sing-right .sing-box form .form-act label {
  margin-left: 5px;
  margin-right: 15px;
  vertical-align: middle;
}

.sing .sing-right .sing-box form .x-input {
  width: 340px;
}

.sing .sing-right .sing-box form .icon-yhm {
  background: url(../images/q.png) 6px -120px no-repeat;
  text-indent: 24px;
}

.sing .sing-right .sing-box form .icon-mm {
  background: url(../images/q.png) 6px -160px no-repeat;
  text-indent: 24px;
}

.sing .sing-right .sing-box form .x-input {
  height: 26px;
  line-height: 26px;
  padding: 4px;
}


.sing .sing-right .sing-box form .btn-big {
  text-align: center;
  cursor: pointer;
  border: 0 none;
  display: block;
  width: 100%;
  background: #ec3e7d;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
}

.other-login {
    clear: both;
    padding-top: 40px;
}

.sing .sing-right .sing-box .other-login ul li{
    float: left;
    display: inline-block;
    float: left;
    width: 115px;
    padding: 10px 0;
    font-size: 12px;
}
.sing .sing-right .sing-box .other-login ul li a {
    color: #3e3e3e;
}
